/Projects/01 - CartoonifyPrj
/Projects/02 - IrisFlowerClassification
/Projects/03 - Emojify
/.ipynb_checkpoints
/Projects/04 - LoanPrediction
/Projects/06 - MNIST Digit Classification
/Projects/py_venv
/Projects/07 - Stock Price Prediction/.gitattributes
/Projects/07 - Stock Price Prediction/.idea
/Projects/07 - Stock Price Prediction/.ipynb_checkpoints
/Projects/07 - Stock Price Prediction
/Projects/08 - Wine Quality
